.small-box {
    width: 140px;
    height: 50px;
    background-color: aqua;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .heading {
    font-size: 14px;
  }
  
  .value {
    font-weight: 500;
    font-size: 14px;
  }
  