.withdraw-box {
    width: 486px;
    height: 170px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 43px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .column {
    flex: 1;
    text-align: center;
  }
  
  .label {
    font-size: 14px;
    color: #800080;
  }
  
  .value {
    font-size: 32px;
    font-weight: 500;
    margin-top: 5px;
    line-height: 48px;
  }
  
  .withdraw-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color:  #800080;
    color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 20px;
    font-weight: 500;
    margin-top: 30px;
  }
    
  
@media (max-width: 799px) {
  .withdraw-box {
    width: 100%;
    padding: 10px;
  }

    .row {
      flex-wrap:wrap;
      align-items: flex-start;
    }
    .item {
      justify-content: flex-start;
      display: inherit;
    }
  
    .column {
      flex-basis: calc(50% - 5px);
      margin-bottom: 10px;
    }
  
    .withdrawbtn{
      position: relative;
      margin-right: 0;

    }
    .withdraw-button {
      position: absolute;
      bottom: 2rem;
      right: 4rem;
    }
  }
